/* body start */

body {
    background-color: rgb(255, 255, 255);
    display: block;
    margin: 8px;
}

/* nav start */

nav {
    display: block;
    margin: auto;
  
}

img {
    display: block;
    margin: auto; 
    width: 351px; 
    height: 113px; 
}

/* section cont start */

input {
    margin: 0 auto;

}

#small {
    font-size: small;
}

span {
    font-size: small;
}

.p-fs {
    font-size: medium;
}

.container-b {
    display: block;
    text-align: -webkit-center;
    
}

.container-t {
    border-color: grey;
    font-variant: normal;
    margin: 0  auto; 
 
}

#container {
    display: table;
    text-align: start;
    width: 1710px;
    height: 144px;

    
}

/* cont start */

.content-1 {
    background-color: rgb(238, 238, 238);
    text-align: center;
    margin: 0 auto;

}

.search-text {
    text-align: center;
    margin: 0 auto;
    height: 20px; 
    
}

.content-2 {
    background-color: black;
    margin: 2px auto;
    
} 

.text-p {
    text-align: center;
    margin: 10px;
    
}

/* boxs start */

.box1 {
    background-color: rgb(126, 229, 218);
    text-align: center;
    width: 37%;
    height: 78px;
    float: left;
    
}

.box2 {
    background-color: rgb(112, 204, 194);
    text-align: center;
    width: 19.35%;
    height: 78px;
    float: left;
    margin: 0 2px;
  
}

.box3 {
    background-color: rgb(98, 179, 170);
    text-align: center;
    width: 43.40%;
    height: 78px;
    float: left;
}

.copytext {
    border-right-color: black;
    text-align: center;
    margin: auto;

}

/* body finish */